@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto');

* {
	padding: 0;
	margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

body {
	background-image: url("https://images.unsplash.com/photo-1518233197865-f772fdcf9a1d?ixlib=rb-0.3.5&s=3db93ebda4591e4348cf953281de2fae&auto=format&fit=crop&w=1568&q=80");
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
	font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px 150px;
}

ul li {
  display: inline-block;
  list-style: none;
  margin: 2em 0;
  border-right: 3px solid #ffe000;
  padding: 0 20px 0 16px;
}


ul li, button {
	cursor: pointer;
	text-transform: uppercase;
}


ul li:last-child {
  border-right: none;
}

ul li:hover {
	color: #ffe000;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.logo {
	font: 3em 'Indie Flower', cursive;
}

.logo span {
	color: #ffe000;
	text-transform: uppercase;
	font: 0.8em 'Roboto', sans-serif;
}

.motto {
	margin-top: 4em;
	text-transform: uppercase;
	font-size: 2.5em;
	color: #ffe000;
}

.motto span {
	color: white;
}

.description {
	padding: 10px;
	font-size: 1.4em;
	line-height: 30px;
}

.description::selection , .motto::selection , .motto span::selection, h2::selection, footer p::selection {
	background-color: #3e898a;
}

footer::selection {
	background-color: transparent;
}

.logo, button, .icon-container, .photographer-credit, ul li, ul {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

/*p span {
	background-color: #ffffff47;
	padding: 0 5px;
}*/

button {
	width: 120px;
/*	min-width: 48px;
	min-height: 48px;*/
	padding: 10px 20px;
	background-color: #ffe000;
	color: #3e898a;
	font-weight: bold;
	font-size: 20px;
	outline: none;
	border: #ffe000;
	border-radius: 7px;
	margin: 170px 0;
}

button:hover {
	transform: scale(1.1);
	transition: all 0.1s ease-out;
}

button:not(:hover), .box i:not(:hover), .icon-container i:not(:hover) {
	transition: all 0.2s ease-out;
}

h2 {
	text-align: left;
	margin-bottom: 70px;
}

h2::after {
	content: " ";
	border: 2px solid #ffe000;
	display: block;
	width: 75px;
	margin-top: 5px;
}

h3 {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.box-container {
	display: flex;
	margin-bottom: 170px;
	flex-direction: row;
}

.box {
	width: 50%;
	background: white;
	color: #3e898a;
	padding: 20px 30px;
	border-radius: 7px;
	border-bottom: 8px solid #ffe000;

}

.box:first-of-type {
	margin-right: 40px;
}

.box p {
	text-align: justify;
}

.box p::selection, h3::selection {
	background-color: #3e898a;
	color: white;
}

.box, button {
	-webkit-box-shadow: 2px 2px 4px 0px rgba(62,137,138,0.62);
	-moz-box-shadow: 2px 2px 4px 0px rgba(62,137,138,0.62);
	box-shadow: 2px 2px 4px 0px rgba(62,137,138,0.62);	
}

.fa-pencil-alt, .fa-laptop {
	font-size: 40px;
	color: #ffe000;
	margin-bottom: 20px;
	cursor: pointer;
}

.fa-linkedin, .fa-facebook-square, .fa-github, .fa-codepen, .fa-instagram {
	color: white;
	text-shadow: 1px 1px 1px #ffe000;
	cursor: pointer;
	padding: 0 20px;
}

.box i:hover, .icon-container i:hover {
	transform: scale(1.2);
	transition: all 0.1s ease-out;
}


.mail-btn {
	width: 130px;
}

.info-box {
	display: inline-block;
	margin: 0 20px;
}

.info-box p, .info-box i {
	display: inline-block;
}

.info-box p {
	margin-left: 5px;
}


.fa-phone, .fa-map-marker {
	color: #ffe000;
}

.photographer-credit {
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 4px 6px;
	font-family: -apple-system, "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.2;
	display: inline-block;
	border-radius: 3px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.photographer-credit span {
	display: inline-block;
	padding: 2px 3px;
}

.photographer-credit svg {
	height: 12px;
	width: auto;
	position: relative;
	vertical-align: middle;
	top: -1px;
	fill: white;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  	body {
  		padding: 10px 40px;
  	}

  	ul li {
	  font-size: 45px;
	}

	ul {
		margin: 0 -30px;
	}

	.logo {
		font-size: 100px;
	}

	.logo span {

		font-size: 80px 'Roboto', sans-serif;
	}

	.motto {
		font-size: 2em;
		margin-top: 1em;
	}


	.description {
		font-size: 0.8em;
	}

	button {
		width: 40%;
		font-size: 4em;
		margin: 120px 0;
	}

	button.mail-btn {
		width: 40%;
	}

	h2::after {
		width: 10%;

	}

	.box-container {
		flex-direction: column;
		margin-bottom: 70px;
	}

	.box {
		width: 100%;
		margin: 0 auto 30px auto;

	}

	.fa-pencil-alt, .fa-laptop {
		font-size: 50px;
	}

	.mail-btn {
		width: 150px;
	}

	.info-box {
		display: block;
		margin-bottom: 15px;
	}

	.info-box p {
		margin-left: 10px;
		font-size: 20px;
	}

	.photographer-credit {
	    position: static;
	    margin: 20px 10px;

	}

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

  	h2::after {
		width: 18%;
		border: 4px solid #ffe000;
	}

	.box {
    padding: 30px 50px;
    border-radius: 7px;
    border-bottom: 16px solid #ffe000;
	}

    .info-box p {
		margin-left: 30px;
		font-size: 30px;
	}

	.fa-phone, .fa-map-marker {
		font-size: 15px;
	}

	.photographer-credit {
	    position: static;
        font-size: 25px;
	    padding: 6px 8px;
	    margin: 20px 0 10px 0;
	}

	.photographer-credit svg {
		height: 25px;
		top: -3px;
	}

}





